
<div class="row">
    <div class="col-xs-12">
        <p>add a new server or blueprint</p>
        <label for="">server name</label>
        <input type="text" class="form-control" placeholder="servername" #serverInputName>
        <label for="">server content</label>
        <input type="text" class="form-control" placeholder="server Content" #serverInputContent>
        <br><br>
        <button 
            class="btn btn-primary"
            (click)="onAddServer(serverInputName)"
        >
            Add server
        </button>
        <button
            class="btn btn-primary"
            (click)="onAddBlueprint(serverInputContent)"
        >
            add server blueprint
        </button>
    </div>
</div>