<div class="container">
  <app-cockpit 
    (serverCreated)="onServerAdded($event)"
    (blueprintCreated)="onBlueprintAdded($event)"
  >
  </app-cockpit>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn btn-primary" (click)="onChangeFirst()">
        change first element
      </div>
      <app-server *ngFor="let serverElement of serverElements"
        [serElement]="serverElement"
        [name]="serverElement.name"
      >
      </app-server>

      
    </div>
  </div>
</div>


